.app_projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 4rem 2rem;
    background-color: rgba(31, 31, 31, 1);
    color: #fff;
}

.app_projects_title{
    animation: FadeFromTop 1.5s ease-in-out;
}

.app_projects_project{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.app_projects_project_images{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project_img_cont{
    width: 600px;
    animation: FadeFromLeft 2s ease-in-out;
}

.project_img{
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.project_img:hover{
    transform: scale(1.1);
}


.project_img.active{
    display: block;
    animation: imageSlideIn .5s ease-in-out;
}

.images_change_bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    position: relative;
    bottom: 0;
}

.image_change_dot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s;
}

.image_change_dot.active{
    background-color: rgba(255, 255, 255, 1);
}

.app_projects_project_info{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
    padding: 1rem;
    animation: FadeFromRight 2s ease-in-out;
}

.app_projects_project_info ol{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1rem;
}

.app_projects_project_info ol li{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



.app_projects_project.collection{
    flex-direction: column;
}

.app_projects_project.collection h1{
    animation: FadeFromTop 2s ease-in-out;
}

.projects_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    animation: FadeFromTop 2s ease-in-out;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 1;
}


.project img{
    width: 100%;
    height: 100%;
    border-radius: 5px;

}

.project:hover{
    transform: scale(1.2);
    z-index: 5;

}


.app_projects_project_images.flytoschool .project_img_cont{
    width: 200px;
}

@media screen and (min-width: 2000px) {
    .app_projects_project{
        flex-direction: row;
    }
}

@media screen and (max-width: 1150px) {
    .app_projects_project{
        flex-direction: column;
    }

    .project_img_cont{
        width: 400px;
    }

    .app_projects_project_images.flytoschool .project_img_cont{
        width: 170px;
    }

    .app_projects_title{
        font-size: 2rem;
    }

    .app_projects_project_info ol li{
        text-overflow: clip;
        overflow: visible;
        white-space: normal;
    }
}

@media screen and (max-width: 650px) {
    .app_projects_project{
        flex-direction: column;
    }

    .project_img_cont{
        width: 300px;
    }

    .app_projects_project_images.flytoschool .project_img_cont{
        width: 150px;
    }

    .app_projects_title{
        font-size: 1.5rem;
    }
}