.app_home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 10.65rem 2rem;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.app_home_background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5);
    animation: fadeIn 1s ease-in-out;
}

.app_home_profile {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: #fff 5px solid;
    animation: moveInLeftFade 1s ease-in-out;
    box-shadow: 10px 12px 20px rgba(0, 0, 0, 0.453);
    transition: transform 0.3s ease;
}

.app_home_profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.app_home_profile:hover{
    transform: scale(0.95);
}

.app_home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.app_home_content_bio {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.app_home_name_typewriter h1{
    font-size: 4.5rem;
    font-weight: 100;
}

.app_home_name_typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 4.5s steps(40, end) normal both;
}

.app_home_content_bio h2 {
    animation: FadeIn 3s ease-in-out;
    font-weight: 100;

}

.app_home_content_contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.app_home_social {
    display: flex;
    gap: 10px;
}

.app_home_social .icon {
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 1.7rem;
}

.app_home_social .icon:hover{
    color: var(--green-logo-color);
    transform: translateY(-5px);
}

.app_home_hire-me {
    display: flex;
    gap: 10px;
}

.app_home_hire-me_button
{
    padding: 10px 20px;
    background-color: var(--green-logo-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    font-family: "Quicksand", sans-serif;
}

.app_home_hire-me_button:hover{
    background-color: #0f6e3e;
}


@media screen and (min-width: 2000px) {

    .app_home{
        flex-direction: row;
    }

    .app_home_social .icon{
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 1150px) {
    .app_home{
        flex-direction: column;
        padding: 6rem 2rem;
    }

    .app_home_profile{
        width: 200px;
        height: 200px;
    }

    .app_home_name_typewriter h1{
        font-size: 3.5rem;
    }

    .app_home_social .icon{
        font-size: 1.3rem;
    }

    .app_home_content_bio h2{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 650px) {
    .app_home{
        flex-direction: column;
        padding: 10rem 2rem;
    }

    .app_home_profile{
        width: 150px;
        height: 150px;
    }

    .app_home_name_typewriter h1{
        font-size: 2rem;
    }

    .app_home_social .icon{
        font-size: 1.1rem;
    }

    .app_home_hire-me_button,
    .app_home_download-cv_button
    {
        padding: 5px 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .app_home_content_bio h2{
        font-size: 1.2rem;
    }
}

